*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.coffee-container{
    width: 100%;
    height: 100%;
    background-color: #d5cea3;
}
.shop-menu{
    width: 100%;
    height: 50vh;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color:#1A120B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.shop-menu .shop-menu-items{
    background-color: #b6b08c;
    margin: 9px;
    width: 9%;
    text-align: center;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.shop-menu .shop-menu-items.active{
    background-color: #e5e5cb;
}
.shop-menu .shop-menu-items:hover{
    animation: myMove 1s ease infinite;
}
@keyframes myMove {
    from{width: 9%;
    height: 100px;}
    to{width: 10%;
    height: 110px;}
}
.shop-menu .shop-menu-items a{
    color:#1A120B;
}
.card-container{
    background-color: transparent;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 50px;
}
.card-container .card{
   border: 2px solid #1A120B;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   border-radius:10px;
   padding: 20px;
}
.card-container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-bottom: 20px;
}
.card-container i{
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    color: #1A120B;
}
.card-container h3{
    color: rgb(0, 134, 45);
    padding: 10px;
}
.card-container ul{
    list-style-type:square;
    padding: 10px;
    color: #1A120B;
}
.footer{
    background-color: #1A120B;
    color: #e5e5cb;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid #1A120B;
}
.footer-left{
    background-color: #d5cea3;
    color: #1A120B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
.footer-right{
    background-color: #d5cea3;
    color: #1A120B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}